body, li {
    font-family: sans-serif;
    font-size: 12px;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

.indice {
    position: fixed;
    min-width: 15%;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: 1px solid;
    border-color: rgba(0, 22, 22, 0.4);
}

header{
    font-size: 30px;
    padding: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

main {
    display: block;
    unicode-bidi: isolate;
}

.main-doc {
    position: absolute;
    width: 60%;
    margin-left: 25%;
    padding: 55px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 20px;
    text-align: left;
}

.indice li {
    position: relative;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 8px;
    list-style: none;
}

.indice ul{
    padding-left: 1px;
}

.introduzione li{
    padding: 10px;
}

code{
    display: block;
    background-color: whitesmoke;
    height: auto;
    padding: 2px
}

.indice a {
    text-decoration: none;
    color: black;
}